.field{
  width: 400px;
  padding-bottom: 30px;
}

.colour-border{
  border: 3px solid rgb(196, 161, 7);
  padding: 10px;
}

.header{
  padding: 20px;
}

body{
  padding: 10px;
  background-color: rgb(207, 33, 140);
}