.field{
  width: 400px;
  padding-bottom: 30px;
}

.colour-border{
  border: 3px solid rgb(196, 51, 7);
  padding: 10px;
}

.header{
  padding: 20px;
  font-weight: 400;
}

body{
  padding: 10px;
  background-color: rgb(11, 22, 179);
  color: gold;
}